body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

#header,
#footer {
    width: 100vw;
    background-color: #222831;
}

#content {
    display: flex;
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player1-grid,
.computer-grid {
    display: grid;
    grid-template: repeat(10, 2rem) / repeat(10, 2rem);
}

.player1-grid > div,
.computer-grid > div {
    width: 2rem;
    height: 2rem;
    border: 1px solid black;
}

.rotate-button {
    margin-bottom: 2rem;
}

.player1-grid > .has-ship {
    background-color: #222831;
}
